body{
    background-image: url(alap.jpg);
    color:#333333; 
}
h1
	{
		text-align: center;		
	}

div#kozep{
  margin: 0 auto 0 auto;
   width: 800px;
}

#bekezdes	{	
    margin-left: 50px;    
	}
#jobbra{
   float: right;
    width: 10%;   
}
li{
    margin-left: 100px;
}
hr{
    color: #555555;
}
#vonal{
    height: 10px;
    background-color:#555555;
}
#bekezdesjobbra{
    text-align: right;
}